@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}
